body {
  background-color: black;
  font-family: pirulen, sans-serif;
  width: 100%;
  overflow: hidden;
}

nav.navbar {
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 10vh;
  z-index: 500;
  display: flex;
  padding: 10px;
}

.buttonClickNav:active {
  animation-name: scale;
  animation-duration: .15s;
}

@keyframes scale {
from {
  scale: 100%;
  animation-timing-function: ease-out;
}
50% {
  scale: 80%;
  opacity: 50%;
}
to {
  scale: 100%;
  animation-timing-function: ease;
}
}

.navLogo {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: 5vh;
}

.mec {
  align-items: flex-start;
  display: flex;
  margin-left: 20px;
  height: 6vh;
}

.buttonClick:active {
  animation-name: scale;
  animation-duration: .25s;
}

@keyframes bounceUp {
from {
  scale: 100%;
  animation-timing-function: ease-out;
  
}
25% {
  margin-bottom: 40px;
  animation-timing-function: ease;
}
50% {
  scale: 80%;
  opacity: 50%;
  margin-bottom: 0px;
  animation-timing-function: ease;
}
70% {
  margin-bottom: 20px;
  animation-timing-function: ease;
}
to {
  scale: 100%;
  animation-timing-function: ease;

}
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 70%;
  -o-object-fit: cover;
  z-index: -1000;
}

h1 {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.5vw;
  color: rgb(109, 109, 109);
}


.buttonRow {
  padding-top: 2vh;
  position: fixed;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding-bottom: 4.5vh;

}
.Button {
    background-color: transparent;
    outline: none;
    border: none;
    width: 8vw;
    height: 15vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buttonsText {
  color: gray;
  font-weight: 600;
  transform: rotate(-8deg);
  font-size: .66vw;
  padding-top: 1vh;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    1.5deg,
    #4e4e4e 0%,
    #373737 29%,
    #232323 67%,
    #1d1d1d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



/*landing page*/

.map {
  height: 75vh;
  width: 80vw;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  vertical-align: middle;
}

.eastSouth {
  opacity: 70%;
  fill: aquamarine;
}
.westSouth {
  opacity: 60%;
}
.southAtlantic {
  opacity: 50%;
}
.westNorth {
  opacity: 40%;
}
.eastNorth {
  opacity: 30%;
}
.mountain {
  opacity: 20%;
}
.pacific {
  opacity: 10%;
}
.middleAtlantic {
  opacity: 80%;
}
.newEngland {
  opacity: 20%;
}

.midwest:active {
  animation-name: scale;
  animation-duration: .5s;
}

.west:active {
  animation-name: scale;
  animation-duration: .5s;
}

.south:active {
  animation-name: scale;
  animation-duration: .5s;
}
.northEast:active {
  animation-name: scale;
  animation-duration: .5s;
}

 /*map animation*/
@keyframes scale {
    from {
      scale: 100%;
      animation-timing-function: ease;
  
    }
    50% {
      opacity: 40%;
      fill: #afc98a;

    }
    to {
      scale: 100%;
      animation-timing-function: ease;
    }
}

div.divButtons {
  height: 100%;
  width: 100%;
}